---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Myeong Yoon</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Research Interests</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.research-interests %}
          <p>{{ section.title }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Honors & Awards</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.honors %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Qualifications</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.qualifications %}
          <p><strong>{{ section.description }}</strong> in {{ section.title }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 class="border-bottom">Experiences</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.experiences %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h4 class="border-bottom">Research</h4>
      {% for item in site.data.research.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
  </div>
</div>

