---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Posts</h3>
      <div>
      <h4 class="fw-bold border-bottom">General Physics</h4>
        {% for post in site.posts.general-physics %}
           <p><a href="{{ site.github.url }}/posts/general-physics/{{ post.url }}">{{ post.title }}</a></p>
        {% endfor %}
      <div>
      <div>
      <h4 class="fw-bold border-bottom">Miscellaneous Topics on Mathematics</h4>
        {% for post in site.posts.mathematics %}
           <p><a href="{{ site.github.url }}/posts/mathematics/{{ post.url }}">{{ post.title }}</a></p>
        {% endfor %}
      <div>
  </div>
</div>